# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Rolan_Data/
EventLog.*
Rolan.exe
Main/Sites/RolansQuest2/packages/
UmbracoTraceLog.*
NuGetBackup/
umbraco.config
cache/
packages/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
bin/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Third Party  #
# ============ #
!FreeType.dll
!tk2dExternal.dll
!tk2dSkin.dll
!UnityVS/*
!uSequencerEditor.dll
!uSequencerRuntime.dll
!SyntaxTree.VisualStudio.Unity.Bridge.dll
!SyntaxTree.VisualStudio.Unity.Messaging.dll
!UnityVS.VersionSpecific.dll
!navmesh.obj